# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
*.env*
!example.*.env

# rust
/target

# just a file
.secret

*.h1dden*

# dbs data
/dbs/*

# dbs script
!/dbs/init_postgre.sql

# rs keys
private.pem
public.pem



