:root {
  /* ANIMATIONS */
  --appear-animation-speed: 200ms;
  --button-animation-speed: 150ms;
  --interpolation-speed: 0.1s;
  --interpolation-method: ease-out;
  /* COLOR VARIABLES */
  --color-offset: 16;

  /* COLOR VALUES */
  --color-primary-highlighted: hsl(from var(--color-primary) h calc(s + 10) calc(l + 20));
  --color-primary-highlighted-extra: hsl(from var(--color-primary) h calc(s + 15) calc(l + 10));
  --color-primary: #00fffb;/*#A4A484;*/
  --color-primary-right: hsl(from var(--color-primary) calc(h + var(--color-offset)) s l);
  --color-primary-left: hsl(from var(--color-primary) calc(h - var(--color-offset)) s l);
  --color-primary-muted: color-mix(in srgb, var(--color-primary) 60%, #000);
  
  --color-secondary: #3fd57d;
  --color-accent: #d69e2e;
  --color-neutral: #2d3748;

  --color-test: #3fd57d;

  /* card colors */
  --color-shadow: #010101;

  --shadow-radius: 6px;
  --shadow-offset: 0px 0px;

  --bg-mix-amount: 3%;

  --color-background-1: color-mix(in srgb, var(--color-primary) var(--bg-mix-amount), #0C0C0C);
  --color-border-1: color-mix(in srgb, var(--color-primary) var(--bg-mix-amount), #121212);
  --border-radius-1: 16px;

  --color-background-2: color-mix(in srgb, var(--color-primary) var(--bg-mix-amount), #121212);
  --color-border-2: color-mix(in srgb, var(--color-primary) var(--bg-mix-amount), #181818);
  --border-radius-2: 12px;

  --color-background-3: color-mix(in srgb, var(--color-primary) var(--bg-mix-amount), #181818);
  --color-border-3: color-mix(in srgb, var(--color-primary) var(--bg-mix-amount), #1F1F1F);
  --border-radius-3: 8px;

  
  --color-card-background: #0C0C0C;
  --color-card-hover: var(--color-primary-muted);
  --color-outline: color-mix(in srgb, var(--color-card-background) 90%, #ffffff);
  --color-background: #0F172A;

  --color-text: #eeeeee;
  --color-text-muted: color-mix(in srgb, var(--color-text) 65%, var(--color-primary-muted));
  --color-text-muted2: color-mix(in srgb, var(--color-text) 40%, var(--color-primary-muted));
  --color-text-invert: black;

  /* OTHER VARIABLES */
  --sidebar-width: 200px;
  --content-width: 900px;

  --default-border-size: 2px;

  --main-margin: 4px;
  --hover-outline-size: 2px;
  --hover-outline-radius: 300px;
  --border-radius: 12px;
  --font-size-base: 16px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}