  
:root {
    background-color: var(--color-background);
    /* font-family: "Inter", serif; */
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}
::selection {
    color: var(--color-shadow);
    background: var(--color-primary);
  }
/** {transition: all var(--interpolation-speed) var(--interpolation-method);}*/

.undraggable {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.unselectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    text-wrap: nowrap;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.outline_res {
    background-color: var(--color-card-background);
    border: var(--default-border-size) solid var(--color-outline);
    position: relative;
}

.outline_res > .outline_res_content {
    background-color: var(--color-card-background);
    border-radius: inherit;
    position: relative;
    z-index: 2;
}
.outline_res::after {
    position: absolute;
    border-radius: inherit;
    content: "";
    height: calc(100% + var(--hover-outline-size) * 2); /* wtf?? */
    inset: calc(var(--hover-outline-size) * -1);
    width: calc(100% + var(--hover-outline-size) * 2);
    background:  linear-gradient(#ffffff00, #ffffff00) padding-box, radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        var(--color-primary-muted),
        transparent var(--hover-outline-radius)
    ) border-box;
    z-index: 1;
}

.default_card {
    padding: 0.75rem;
    border: var(--default-border-size) solid var(--color-border-1);
    border-radius: var(--border-radius-1);
    background-color: var(--color-background-1);
    position: relative;
    box-shadow: var(--shadow-offset) var(--shadow-radius) var(--color-shadow);
}